<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="main">
    <app-header></app-header>

    <div class="section">

        <div class="translationTypes">
            <div class="translationType"
                [ngStyle]="translationType === TranslationTypes.text ? {'background-color': '#e0ecfd'} : {} ">
                <svg focusable="false" width="20" height="24" viewBox="0 0 24 24" class="translationIcon">
                    <path
                        d="M12.87 15.07l-2.54-2.51.03-.03A17.52 17.52 0 0 0 14.07 6H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z">
                    </path>
                </svg>
                <div>Texto</div>
            </div>
        </div>

        <div class="languages">
            <div class="inputLanguages">
                <ng-container *ngFor="let inputLanguage of inputLanguages">
                    <app-language-tab [textName]="inputLanguage.value" [selected]="inputLanguage.selected"
                        (click)="selectInputLanguage(inputLanguage)"></app-language-tab>
                </ng-container>
                <app-dropdown-icon class="showLanguageListDropdwon" style="margin-left: 15px;"
                    (click)="languageService.outputSelected = false;handleShowLanguageList(0); languageService.outputSelected=false"
                    [rotated]="showLanguageList[0]"></app-dropdown-icon>
            </div>

            <div class="circularHover" (click)="switchLanguages()" [ngStyle]="{'pointer-events' : autoLanguageSelected() ? 'none' : 'auto'}">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8 20V7m0 13-4-4m4 4 4-4m4-12v13m0-13 4 4m-4-4-4 4" />
                </svg>
            </div>

            <div class="outputLanguages">
                <ng-container *ngFor="let outputLanguage of outputLanguages">
                    <app-language-tab [textName]="outputLanguage.value" [selected]="outputLanguage.selected"
                        (click)="selectOutputLanguage(outputLanguage)"></app-language-tab>
                </ng-container>

                <app-dropdown-icon class="showLanguageListDropdwon" style="margin-left: 15px;"
                    (click)="languageService.outputSelected = false;handleShowLanguageList(1); languageService.outputSelected=true"
                    [rotated]="showLanguageList[1]"></app-dropdown-icon>

            </div>
        </div>

        <app-translator-text-area *ngIf="!showLanguageList.includes(true)"></app-translator-text-area>
        <app-languages-list *ngIf="showLanguageList.includes(true)"></app-languages-list>
        <h1>Atención: Si da errores la solicitud o tarda demasiado es probable que sea debido al despliegue del back. (Tarda 40 secs aprox en produccion) En cualquier caso clonar repos de github y probar en local</h1>
    </div>
    
</div>