<div class="header">
    <div class="header-leftContent">
        <div class="circularHover">
            <app-hamburger-settings></app-hamburger-settings>
        </div>
        <div class="google">
            <img src="../../../../assets/img/google.png" alt="">
        </div>
        <div class="traductor">
            Traductor
        </div>

    </div>

    <div class="header-rightContent">
        <div class="circularHover">
            <app-settings></app-settings>
        </div>

        <div class="circularHover">
            <app-apps-icon></app-apps-icon>
        </div>
        <div class="circularHover">
            <app-profile-image-container></app-profile-image-container>
        </div>
    </div>
</div>